.page {
  background-image: linear-gradient(to bottom, var(--LightMagenta), var(--LightViolet));
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 50% 50%;
  border-bottom-right-radius: 50%;
}